<body style="overflow-x: hidden;">
	<div class="aboutus-container">
		
		<h1 class="pt-40 pb-20">About Us</h2>
  

		<div>
			<div style="width: 635px; display: inline-block; height: 545px;">
				<h2 style="margin-bottom: 45px;">About the Founder</h2>
				<p style="font-size: 16px; margin-bottom: 35px;">
					Christopher Domey is a business development entrepreneur, founder, chairman and Chief Executive Officer of BookSwap, Inc., the most conprehensive platform for student textbook swapping in the world of higher education. By age 25, Chris was granted his first international patent. A graduate of NJIT and currently continueing graduate student, his focus includes Market Development and Stragetic Management.
				</p>
				<img class="founder-img" src="/img/chrisSq.jpg">
			</div>


			<div style="width: 635px; display: inline-block; height: 545px;">
				<h2 class="pb-30">Technical Team</h3>

				<img src="/img/krishnaSq.png" class="founding-team-img">
				<img src="/img/manmithaSq.png" class="founding-team-img">
				<img src="/img/ratanSq.png" class="founding-team-img">
				<img src="/img/sivaSq.png" class="founding-team-img">
			</div>
		</div>
	</div>
</body>